<div class="event rounded relative p-5 border-slate-300 border-solid border-s-2 bg-slate-100">
	<div class="header">
		@if (!(event?.startDate | isMultipleDay: event?.endDate)) {
			<span
				class="px-1 py-0.5 bg-indigo-100 rounded-md mr-1.5 text-center">
				{{ event?.startDate | date: 'dd/MM/yyyy':'UTC' }} :
				{{ event?.startDate | date: 'HH:mm':'UTC' }}
				@if (event?.startDate | isEndDateEqualStartDate: event?.endDate) {
					<span>-
						{{ event?.endDate | date: 'HH:mm':'UTC' }}
            </span>
				}
        </span>
		} @else {
			<span
				class="px-1 py-0.5 bg-indigo-100 rounded-md mr-1.5 text-center">
		  {{ event?.startDate | date: 'dd/MM/yyyy':'UTC' }}
				<span>-
					{{ event?.endDate | date: 'dd/MM/yyyy':'UTC' }}
		  </span>
			</span>
		}
		<span class="event-title mb-0.5 font-bold">{{ event?.title }}
      </span>
	</div>
	<div class="content mb-2">
		<div class="event-description line-clamp-2 text-sm">{{ event?.description }}
		</div>
		@if (hasParticipant()) {
			<div class="flex flex-row gap-1 my-0.5">
          <span class="text-bold">
            Participants :
          </span>
				@for (user of event?.inUser; track user) {
					<app-event-user [user]="user"/>
				}
				<app-event-user [user]="event?.creator!"/>
			</div>
		}
	</div>
</div>

