<div class="container px-2 sm:px-2 md:px-0 lg:px-0 md:mx-auto lg:mx-auto my-5">
	@if (error) {
		<app-error [error]="error"></app-error>
	}
	<div class="mb-5">
		<h1 class="text-3xl font-bold">
			Ajouter un évênement
		</h1>
	</div>
	<div
		class="mb-5 flex flex-col gap-2 my-1 rounded relative p-5 border-slate-300 border-solid border-s-2 bg-slate-100">
		<app-form [formGroup]="addEventForm" (submitForm)="onSubmit()">
			<app-input
				label="Titre"
				type="text"
				id="title"
				formControlName="title"
				[required]="true"
			/>
			<app-input
				label="Description"
				type="textarea"
				id="description"
				formControlName="description"
				[required]="true"
			/>
			<div class="event-dates flex flex-col sm:flex-col md:flex-row lg:flex-row gap-2">
				<app-input
					label="Date de début"
					type="datetime-local"
					id="startDate"
					formControlName="startDate"
					[required]="true"
				/>
				<app-input
					label="Date de fin"
					type="datetime-local"
					id="endDate"
					formControlName="endDate"
					[required]="true"
				/>
			</div>
			@if (addEventForm.errors?.['dateOrder']) {
				<div class="text-red-500">
					La date de début doit être antérieure à la date de fin.
				</div>
			}
			<div class="participants flex flex-col gap-2 mb-2">
				<label for="participants">Participants</label>
				<div formArrayName="inUser">
					@for (user of inUser.controls; let i = $index; track user) {
						<div class="flex flex-col gap-1">
							<div class="flex flex-row align-middle">
								<app-input
									[formControlName]="i"
									placeholder="Email du participant"
									type="email"
								/>
								<app-button
									type="button"
									text="✗"
									(onClick)="removeParticipant(i)"
									class="text-3xl bg-transparent text-slate-950 hover:bg-transparent"
								/>
							</div>
						</div>
					}
				</div>
				<app-button
					type="button"
					text="Ajouter un participant"
					(onClick)="addParticipant()"
					class="text-sm"
				/>
			</div>
			<hr class="mb-2">
			<app-button
				[disabled]="addEventForm.invalid"
				type="submit"
				text="Créer l'évênement"
			/>
		</app-form>
	</div>
</div>
