@if (event) {
	<div class="my-1 rounded relative p-5 border-slate-300 border-solid border-s-2 bg-slate-100">
		<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">
			<div class="title flex flex-col">
				<label for="title">Titre</label>
				<input type="text" id="title" formControlName="title"
					   class="mt-1 block w-full px-3 py-2 border border-slate-200 bg-slate-50 rounded-md shadow-sm focus:outline-none focus:ring-slate-500 focus:border-slate-500 sm:text-sm"
					   required/>
				@if (eventForm.get('title')?.invalid && eventForm.get('title')?.dirty) {
					<div class="text-red-500 text-sm">
						Le titre est requis.
					</div>
				}
			</div>
			<div class="description flex flex-col">
				<label for="description">Description</label>
				<textarea type="text" id="description" formControlName="description"
						  class="mt-1 block w-full px-3 py-2 border border-slate-200 bg-slate-50 rounded-md shadow-sm focus:outline-none focus:ring-slate-500 focus:border-slate-500 sm:text-sm"
						  required></textarea>
				@if (eventForm.get('description')?.invalid && eventForm.get('description')?.dirty) {
					<div class="text-red-500 text-sm">
						La description est requise.
					</div>
				}
			</div>
			<div class="event-dates flex flex-col sm:flex-col md:flex-row lg:flex-row gap-2">
				<div class="start-date flex flex-col">
					<label for="startDate">Date de début</label>
					<input
						class="mt-1 block w-full px-3 py-2 border border-slate-200 bg-slate-50 rounded-md shadow-sm focus:outline-none focus:ring-slate-500 focus:border-slate-500 sm:text-sm"
						type="datetime-local" id="startDate" formControlName="startDate" required>
					@if (eventForm.get('startDate')?.invalid && eventForm.get('startDate')?.dirty) {
						<div class="text-red-500 text-sm">
							La date de début est requise.
						</div>
					}
				</div>
				<div class="end-date flex flex-col">
					<label for="endDate">Date de fin</label>
					<input
						class="mt-1 block w-full px-3 py-2 border border-slate-200 bg-slate-50 rounded-md shadow-sm focus:outline-none focus:ring-slate-500 focus:border-slate-500 sm:text-sm"
						type="datetime-local" id="endDate" formControlName="endDate" required>
					@if (eventForm.get('endDate')?.invalid && eventForm.get('endDate')?.dirty) {
						<div class="text-red-500 text-sm">
							La date de fin est requise.
						</div>
					}
				</div>
			</div>
			<!--
			<div class="participants flex flex-col gap-2 mb-2">
			  <label for="participants">Participants</label>
			  <div formArrayName="inUser">
				@for (user of inUser.controls; let i = index; track user) {
				  <div class="flex flex-row gap-1 mb-0.5">
					<input
					  class="mt-1 block px-3 py-2 border border-slate-200 bg-slate-50 rounded-md shadow-sm focus:outline-none focus:ring-slate-500 focus:border-slate-500 sm:text-sm"
					  [formControlName]="i" placeholder="Email du participant">
					<button
					  class="text-slate-950"
					  type="button" (click)="removeParticipant(i)">X
					</button>
					@if (user.invalid && user.touched) {
					  <div class="text-red-500 text-sm">
						Email invalide.
					  </div>
					}
				  </div>
				}
			  </div>
			  <div class="add-participant">
				<button class="text-slate-950 py-0.5 px-2 bg-indigo-200 text-sm hover:bg-indigo-300 rounded-md"
				  type="button" (click)="addParticipant()">Ajouter un participant
				</button>
			  </div>
			</div>
			-->
			<hr>
			<div class="save">
				<button [disabled]="eventForm.invalid"
						class="text-slate-50 py-0.5 px-2 bg-slate-800 hover:bg-slate-700 rounded-md"
						type="submit">Enregistrer
				</button>
			</div>
		</form>
	</div>
}
