@if (event) {
	<div class="my-1 rounded relative p-5 border-slate-300 border-solid border-s-2 bg-slate-100">
		<app-form [formGroup]="eventForm" (submitForm)="onSubmitForm()" gap="1.5rem">
			<app-input
				label="Titre"
				type="text"
				id="title"
				formControlName="title"
				[required]="true"
			></app-input>
			<app-input
				label="Description"
				type="textarea"
				id="description"
				formControlName="description"
				[required]="true"
			></app-input>
			<div class="event-dates flex flex-col sm:flex-col md:flex-row lg:flex-row gap-2">
				<app-input
					label="Date de début"
					type="datetime-local"
					id="startDate"
					formControlName="startDate"
					[required]="true"
				></app-input>
				<app-input
					label="Date de fin"
					type="datetime-local"
					id="endDate"
					formControlName="endDate"
					[required]="true"
				></app-input>
			</div>
			<div class="participants flex flex-col gap-2 mb-2">
				<label for="participants">Participants</label>
				<div formArrayName="inUser">
					@for (user of inUser.controls; let i = $index; track user) {
						<div class="flex flex-row gap-1 mb-0.5">
							<app-input
								[formControlName]="i"
								placeholder="Email du participant"
								type="email"
							></app-input>
							<app-button
								type="button"
								text="✗"
								(onClick)="removeParticipant(i)"
								class="text-3xl bg-transparent text-slate-950 hover:bg-transparent"
							></app-button>
						</div>
					}
				</div>
				<app-button
					type="button"
					text="Ajouter un participant"
					(onClick)="addParticipant()"
					class="text-sm"
				></app-button>
			</div>
			<hr class="mb-2">
			<app-button
				[disabled]="eventForm.invalid"
				type="submit"
				text="Sauvegarder"
			></app-button>
		</app-form>
	</div>
}
