<div class="day" [class.last-day]="day?.isLastDay" [class.today]="day?.date | isDayToday"
	 [class.past-day]="day?.date | isPastDay"
	 (click)="onClickDay($event)">
	<div class="day-header">
		<div *ngIf="day?.date | isFirstOrLastDayMonth" class="day-month">
			{{ day?.date | date: 'MMMM' }}
		</div>
		<div class="day-number">
			<p>{{ day?.date | date: 'd' }}</p>
		</div>
	</div>
	<div class="day-events">
		<app-day-event *ngFor="let event of day?.events" [event]="event" [day]="day"></app-day-event>
	</div>
</div>
