.day {
	background: #f8fafc;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.day:hover {
	background: #eef2ff;
}

.last-day {
	border-right: none;
}

.today {
	background: #f0fdf4;
}

.past-day {
	background: #f0f9ff;
}

.day-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.day-events {
	flex-grow: 1;
	overflow-y: auto;
}

.day-events::-webkit-scrollbar {
	width: 0;
}
