.day {
	padding: 10px 0;
	background: #f8fafc;
	width: 100%;
	cursor: pointer;
	height: 250px;
	overflow: hidden;

	&:hover {
		background: #eef2ff;
	}
}

@media (max-width: 768px) {
	.day {
		height: 150px;
	}
}

.last-day {
	border-right: none;
}

.today {
	background: #f0fdf4;
}

.day-header {
	padding: 0 10px;
	font-size: 1.3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.past-day {
	background: #f0f9ff;
}

.day-events {
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 25px;

	&::-webkit-scrollbar {
		width: 0;
	}
}
