:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.calendar-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.calendar-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 0;
	column-gap: 5px;
	row-gap: 5px;
	position: relative;
}

.calendar-header {
	border-bottom: 5px solid #e2e8f0;
}
