<div class="day-event rounded relative" (click)="onClickEvent($event)"
	 [class.many-events]="day && day.events && day.events.length > maxEventUntilReduce">
	<div class="header">
		<span *ngIf="!(event?.startDate | isMultipleDay: event?.endDate)"
			  class="text-xs text-center px-1 py-0.5 bg-indigo-100 rounded-md mr-1.5">
			{{ event?.startDate | date: 'HH:mm':'UTC' }}
			<span *ngIf="event?.startDate | isEndDateEqualStartDate: event?.endDate">-
				{{ event?.endDate | date: 'HH:mm':'UTC' }}
				</span>
			</span>
		<span class="event-title text-xs mb-0.5 font-bold">{{ event?.title }}
		</span>
	</div>
	<div class="event-description line-clamp-2 text-xs"
		 *ngIf="showDescription && day && day.events && day.events.length <= maxEventUntilReduce">{{ event?.description }}
	</div>
</div>
