.notifications {
	position: absolute;
	top: 20px;
	right: 0;
	padding: 5px;
	width: 300px;
	max-width: 90vw;
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow-y: auto;
	box-sizing: border-box;
	z-index: 10;
	max-height: 200px;

	::-webkit-scrollbar {
		width: 0;
	}
}
